<%- include('header') %>

    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-md-5 col-xl-3">
                <div class="w-100 p-5 pt-4 rounded-3 border text-center shadow bg-white">
                    <img src="https://img.icons8.com/clouds/150/null/enter-2.png" class="img-fluid"/>
                    <div class="fs-3 text-center mb-3">เข้าสู่ระบบ</div>
                    <input type="text" class="form-control mb-3" id="username" placeholder="ชื่อผู้ใช้">
                    <input type="password" class="form-control mb-3" id="password" placeholder="รหัสผ่าน">
                    <button class="btn btn-success w-100" id="login">เข้าสู่ระบบ</button>
                    <div class="text-end mt-1">
                        <a href="/register">สมัครสมาชิก</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/socket.js"></script>
    </body>

    </html>